<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <!--<script src="/javascripts/highmaps.js"></script>-->
    <script src="/javascripts/highcharts.js"></script>
    <script src="/javascripts/heatmap.js"></script>
    <script src="/javascripts/treemap.js"></script>
    <script src="/javascripts/charts/projectmap.js"></script>
    <script>
        //        $(document).ajaxError(ajaxErrorHandler);
        $(document).ready(function () {

            getIssueCountsByProject();

        });
    </script>


</head>
<body>

<div id="projectMap" style="width:1000px; height: 800px;"></div>
</body>
</html>
